
.login-container{
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 10rem auto;
  text-align: center;
  width: 500px;
  /* color */
  border: 1px solid rgb(255, 94, 94);
    background-color: #ff7cae;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: pulse 2s infinite;
}




@keyframes pulse {
    0% {
      box-shadow: 0 0 30px #0088ff; 
    }
    50% {
      box-shadow: 0 30px 30px #a200ff; 
    }
    100% {
      box-shadow: 0 0 30px #0084ff; 
    }
  }
