.counter-container {
    border: 1px solid;
    padding-bottom: 1rem;
    border-radius: 0.5rem;  
    margin: 0 0 0.5rem 0; 
    background-color:lightgray;
   
    
}

.counter-title {
    color: blueviolet;
}

.counter-button {
    border: 1px solid;
    border-radius: 0.5rem;

}


.counter-value {
    font-size: xx-large;
    margin: 0 1rem 0 1rem; 
}


.title{
    color: rgb(109, 0, 211);
}

.value {
    font-size: x-large;
    font-weight: bold;
    margin: 0 0.5rem ;
}

